/*
 * @Author: sanghangning 
 * @Date: 2019-12-11 10:48:23 
 * @Last Modified by: sanghangning
 * @Last Modified time: 2022-02-11 12:19:40
 */
$--viewBg: #fff;

$--color-primary: #1d63ff;
$--color-primary-bg: #e8f3ff;

$--color-black: #000;
$--color-white: #fff;

$--textColor-1: #000;
$--textColor-2: rgba(34, 34, 34, 0.85);
$--textColor-3: #919191;
$--textColor-4: #555;
$--textColor-5: rgba(34, 34, 34, 0.85);

$--color-primary-danger: #F96F00;
$--color-primary-success: #67C23A;
$--color-primary-warning: #E6A23C;
$--color-text-primary: #262626;
$--color-text-regular: #595959;
$--color-text-secondary: #8c8c8c;
$--color-text-placeholder: #8c8c8c;


$--sys-borderColor: rgb(229, 230, 235);

$--header-height: 60px;
$--box-shadow: 0 4px 12px 2px rgb(235, 235, 235);
$--border-radius: 22.5%;
$--module-padding:16px;

/* sidebar */
$--sideBar-bg: #fafafa;
$--sideBar-transition-duration: 0.2s;